* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #555555;
    --cor-hover: #272727;

    --fonte-primaria:'Courier New', Courier, monospace;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo_1 {
    color: var(--cor-terciaria);
}

.imagem {
    border-radius: 15px;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.apresentacao__titulo {
    text-align: cleft;
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);
}

.apresentacao__texto {
    font-size: 1.5rem;
    font-family:var(--fonte-primaria);
    text-align: center;
}

.subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.link_1 {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 5px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    border: 2px solid var(--cor-terciaria);
}

.link_1:hover {
    background-color: var(--cor-hover);
    padding: 0.3em;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 40px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

@media (min-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}